body {
    background: #222222;
}



/* Testing */

/* .full-width {
    width: 100% auto;

    padding: 2rem 2rem 2rem 2rem;

}

.bg-main-color {
    background-color: #881d1d !important;
    border-style: solid;
    border: 10px darkred !important;
} */
